In [42]:
class Musician():
    #name = ""
    
    job = "Musician"
    
    def __init__(self,name,age,instrument):
        self.name = name
        self.age = age
        self.instrument = instrument
        
    def sing(self):
        print("sing sing sing")
        
    def __len__(self):
        return self.age
    
    def __str__(self):
        return self.name

In [49]:
sena = Musician("Sena",20,"guitar") #instance

In [50]:
sena.instrument

'guitar'

In [51]:
sena.job

'Musician'

In [52]:
sena.sing()

sing sing sing

In [53]:
len(sena)

20

In [54]:
print(sena)

Sena

In [55]:
#inheritance

In [56]:
class Class1():
    
    def __init__(self):
        print("class 1 created")
    
    def method1(self):
        print("method 1")
        
    def method2(self):
        print("method 2")

In [57]:
class1Instance = Class1()

class 1 created

In [58]:
class1Instance.method1()

method 1

In [60]:
class Class2(Class1):
    
    def __init__(self):
        Class1.__init__(self)
        print("class 2 created")

In [61]:
class2Instance = Class2()

class 1 created
class 2 created

In [62]:
class2Instance.method1()

method 1

In [63]:
#polymorphism

In [77]:
class Apple():
    
    def __init__(self,name):
        self.name = name
        
    def information(self):
        return self.name + " 100 calories"

In [78]:
class Banana():
    
    def __init__(self,name):
        self.name = name
        
    def information(self):
        return self.name + " 300 calories"

In [79]:
banana = Banana("banana")

In [80]:
apple = Apple("apple")

In [81]:
fruitList = [banana,apple]

In [82]:
for fruit in fruitList:
    print(fruit.information())

banana 300 calories
apple 100 calories

In [83]:
#scope

In [84]:
number = 10

In [85]:
print(number)

10

In [87]:
number = 10
def multiply(num1):
    number = 5
    return num1 * number

In [88]:
multiply(10)

50

In [89]:
print(number)

10

In [91]:
number = 10
def multiply(num1):
    number = 5
    return num1 * number
print(multiply(20))
print(number)

100
10

In [92]:
#legb -> l-> local, e-> enclosing, g-> global, b-> built-in

In [97]:
#global
myName = "Sena"

def myFunction():
    #enclosing
    myName = "Enes"
    
    def myFunction2():
        #local
        myName = "Feyza"
        print(myName)
        
    myFunction2()

In [98]:
myFunction()

Feyza

In [105]:
y = 10

def newFunction():
    global y
    y = 5
    print(y)

In [106]:
newFunction()

5

In [107]:
print(y) #global y'den dolayı bu şekilde çıktı verdi

5